@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
	--dark-blue: #133335;
	--light-blue: #56bcb3;
	--green: #d0fdb9;
	--black: #000000;
	--white: #f2f1f0;
	--gray: #ede8eb;
	--red: #ED1C24;
}

body {
	font-family: 'Karla', sans-serif;
}

.is-primary {
	background-color: var(--dark-blue) !important;
	color: var(--white) !important;
}

.is-secondary {
	background-color: var(--light-blue) !important;
	color: var(--white) !important;
}
