# This is your env.example file. Copy this to .env and fill in the values.
# This will be committed to git!
SECRET_KEY=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=